<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Congrats, you've placed a dib for <%= @dib_name %>
    </p>
    <p>Check out more dibs at www.dibstarter.com</p>
  </body>
</html>