<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Congrats, your dib for <%= @dib_name %> has converted and will be shipping soon!
    </p>
    <p>Check out more dibs at www.dibstarter.com</p>
  </body>
</html>