.form-signin {
  width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.remember-label {
  font-weight: normal;
}

.form-control {
  margin: 10px 0px 10px 0px;
}

.shared-link:hover {
  background-color: white;
  color: #666;
}
