<body>
<div class="row-fluid">
  <div class="span10">
    <% @products.each do |product| %>
  <div class="col-sm-6 col-md-4 product-tile">
    <div class="thumbnail">
      <img src=<%= product.preview_url %> alt="...">
      <div class="caption">
        <h3><%= product.name %></h3>
        <h4><%= number_to_currency(product.price) %></h4>

        <% if product.dibbed?(current_user) %>
          <p>You dibbed it!</p>
        <% else %>
          <p><%= link_to 'Dib It', :controller => "dibs", :action => "new", :product_id => product.id %></p>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
    </div>
  </div>
</div>

</body>
